<!--The content below is only a placeholder and can be replaced.-->
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    [colspan]="'3'"
    [rowspan]="'1'"
    [style.background]="'lightblue'">
    <ul>
      <li *ngFor="let book of (books | async)">{{ book.name }}</li>
    </ul>

    <button (click)="onAdd()" type="button">
      Add New
    </button>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="'1'"
    [rowspan]="'2'"
    [style.background]="'lightgreen'">
    2
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="'1'"
    [rowspan]="'1'"
    [style.background]="'lightpink'">
    3
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="'2'"
    [rowspan]="'1'"
    [style.background]="'#DDBDF1'">
    4
  </mat-grid-tile>
</mat-grid-list>




